In [114]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [115]:
path = 'data/exception_data.csv'
dataFrame = pd.read_csv(path)
dataFrame.shape

(52, 9)

In [116]:
dataFrame.head()

,Module,Language,Exception,CausedBy1,CausedBy2,Message,CausedBy1Msg,CausedBy2Msg,Severity
0,11,100,10000,0,0,no message,NoCausedBy oneMsg,NoCausedBy twoMsg,1
1,11,100,10001,0,0,For input string,NoCausedBy oneMsg,NoCausedBy twoMsg,0
2,11,100,10002,0,0,/ by zero,NoCausedBy oneMsg,NoCausedBy twoMsg,1
3,11,100,10003,0,0,java.lang,NoCausedBy oneMsg,NoCausedBy twoMsg,1
4,11,100,10004,0,0,java.lang,NoCausedBy oneMsg,NoCausedBy twoMsg,1

In [117]:
df_master=dataFrame[["Module", "Language","Exception","CausedBy1","CausedBy2"]]
df_master.head()

   Module  Language  Exception  CausedBy1  CausedBy2
0      11       100      10000          0          0
1      11       100      10001          0          0
2      11       100      10002          0          0
3      11       100      10003          0          0
4      11       100      10004          0          0

In [118]:
df_lable=dataFrame[["Severity"]]
df_lable.head()

   Severity
0         1
1         0
2         1
3         1
4         1

In [119]:
df_message=dataFrame[["Message"]]
df_message.head()

            Message
0        no message
1  For input string
2         / by zero
3         java.lang
4         java.lang

In [120]:
df_causedBy1Msg=dataFrame[["CausedBy1Msg"]]
df_causedBy2Msg=dataFrame[["CausedBy2Msg"]]
df_causedBy1Msg.head()

        CausedBy1Msg
0  NoCausedBy oneMsg
1  NoCausedBy oneMsg
2  NoCausedBy oneMsg
3  NoCausedBy oneMsg
4  NoCausedBy oneMsg

In [121]:
df_causedBy2Msg.head()

        CausedBy2Msg
0  NoCausedBy twoMsg
1  NoCausedBy twoMsg
2  NoCausedBy twoMsg
3  NoCausedBy twoMsg
4  NoCausedBy twoMsg

In [122]:
vect_msg = CountVectorizer(ngram_range=(2, 3))
msg_train_dtm = vect_msg.fit_transform(df_message.Message)
msg_train_dtm

<52x128 sparse matrix of type '<class 'numpy.int64'>'
	with 205 stored elements in Compressed Sparse Row format>

In [123]:
message_trigramed_frame= pd.DataFrame(msg_train_dtm.toarray(),columns=vect_msg.get_feature_names())
message_trigramed_frame.head()

,an entity,argument type,argument type mismatch,array size,array size exceeds,bad envelope,bad envelope tag,batch update,be parsed,bulk manipulation,...,unable to extract,unexpected element,unexpected end,unexpected end of,unknown column,unknown exception,unknown exception code,vm limit,with linked,with linked exception
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [125]:
vect_causedby1_msg = CountVectorizer(ngram_range=(2, 3))
msg_causedby1_train_dtm = vect_causedby1_msg.fit_transform(df_causedBy1Msg.CausedBy1Msg)
msg_causedby1_train_dtm

<52x10 sparse matrix of type '<class 'numpy.int64'>'
	with 76 stored elements in Compressed Sparse Row format>

In [126]:
causedby1_msg_trigramed_frame=pd.DataFrame(msg_causedby1_train_dtm.toarray(),columns=vect_causedby1_msg.get_feature_names())
causedby1_msg_trigramed_frame.head()

,could not,could not extract,could not perform,extract resultset,nocausedby onemsg,not extract,not extract resultset,not perform,not perform addbatch,perform addbatch
0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0

In [128]:
vect_causedby2_msg = CountVectorizer(ngram_range=(2, 3))
msg_causedby2_train_dtm = vect_causedby2_msg.fit_transform(df_causedBy2Msg.CausedBy2Msg)
msg_causedby2_train_dtm

<52x53 sparse matrix of type '<class 'numpy.int64'>'
	with 98 stored elements in Compressed Sparse Row format>

In [129]:
causedby2_msg_trigramed_frame=pd.DataFrame(msg_causedby2_train_dtm.toarray(),columns=vect_causedby2_msg.get_feature_names())
causedby2_msg_trigramed_frame.head()

,00001 unique,00001 unique constraint,00060 deadlock,00060 deadlock detected,01400 cannot,01400 cannot insert,01438 value,01438 value larger,01722 invalid,01722 invalid number,...,too large for,unique constraint,value larger,value larger than,value too,value too large,waiting for,waiting for resource,while waiting,while waiting for
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
df1=pd.merge(df_master, message_trigramed_frame, left_index=True, right_index=True)
df2=pd.merge(df1, causedby1_msg_trigramed_frame, left_index=True, right_index=True)
df3=pd.merge(df2, causedby2_msg_trigramed_frame, left_index=True, right_index=True)
df3.head()

,Module,Language,Exception,CausedBy1,CausedBy2,an entity,argument type,argument type mismatch,array size,array size exceeds,...,too large for,unique constraint,value larger,value larger than,value too,value too large,waiting for,waiting for resource,while waiting,while waiting for
0,11,100,10000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,11,100,10001,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11,100,10002,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,11,100,10003,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,11,100,10004,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
print(df3.shape)
print(df_lable.shape)

(52, 196)
(52, 1)

In [132]:
# import and instantiate a Multinomial Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [136]:
%time nb.fit(df3, df_lable)

Wall time: 15.5 ms

C:\DevTools\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [137]:
from sklearn import tree
dtClassifier = tree.DecisionTreeClassifier()
dtClassifier.fit(df3, df_lable)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [157]:
exception_df = pd.DataFrame({'Module':[11],'Language':[100],'Exception':[10019],'CausedBy1' : [0],'CausedBy2' : [0],'Message' : ['could not execute native bulk manipulation query at '], 'CausedBy1Msg' : ['NoCausedBy oneMsg'], 'CausedBy2Msg' : ['NoCausedBy twoMsg']})
df_master_test=exception_df[["Module", "Language","Exception","CausedBy1","CausedBy2"]]
df_message_test=exception_df[["Message"]]
df_causedBy1Msg_test=exception_df[["CausedBy1Msg"]]
df_causedBy2Msg_test=exception_df[["CausedBy2Msg"]]

In [158]:
print(df_master_test)
print(df_message_test)
print(df_causedBy1Msg_test)
print(df_causedBy2Msg_test)

   Module  Language  Exception  CausedBy1  CausedBy2
0      11       100      10019          0          0
                                             Message
0  could not execute native bulk manipulation que...
        CausedBy1Msg
0  NoCausedBy oneMsg
        CausedBy2Msg
0  NoCausedBy twoMsg

In [159]:
msg_test_dtm = vect_msg.transform(df_message_test.Message)
msg_test_causedby1_dtm = vect_causedby1_msg.transform(df_causedBy1Msg_test.CausedBy1Msg)
msg_test_causedby2_dtm = vect_causedby2_msg.transform(df_causedBy2Msg_test.CausedBy2Msg)

In [160]:
test_msg_trigramed_frame= pd.DataFrame(msg_test_dtm.toarray(),columns=vect_msg.get_feature_names())
test_causedby1_msg_trigramed_frame=pd.DataFrame(msg_test_causedby1_dtm.toarray(),columns=vect_causedby1_msg.get_feature_names())
test_causedby2_msg_trigramed_frame=pd.DataFrame(msg_test_causedby2_dtm.toarray(),columns=vect_causedby2_msg.get_feature_names())

In [161]:
test_df1=pd.merge(df_master_test, test_msg_trigramed_frame, left_index=True, right_index=True)
test_df2=pd.merge(test_df1, test_causedby1_msg_trigramed_frame, left_index=True, right_index=True)
test_df3=pd.merge(test_df2, test_causedby2_msg_trigramed_frame, left_index=True, right_index=True)
test_df3.head()

,Module,Language,Exception,CausedBy1,CausedBy2,an entity,argument type,argument type mismatch,array size,array size exceeds,...,too large for,unique constraint,value larger,value larger than,value too,value too large,waiting for,waiting for resource,while waiting,while waiting for
0,11,100,10019,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [162]:
dtClassifier.predict(test_df3)

array([1], dtype=int64)