In [38]:
import pandas as pd
df1 = pd.DataFrame({'name':['joe strummer','johnny rotten'],'age':[13,18]})
df2 = pd.DataFrame({'father_name':['nancy','sid'],'age':[47,49]})
df3 = pd.DataFrame({'City':['Bangalore','New Delhi']})

In [39]:
df1.head()

            name  age
0   joe strummer   13
1  johnny rotten   18

In [40]:
df2.head()

  father_name  age
0       nancy   47
1         sid   49

In [41]:
df4=pd.merge(df1, df2, left_index=True, right_index=True)
pd.merge(df4, df3, left_index=True, right_index=True)

            name  age_x father_name  age_y       City
0   joe strummer     13       nancy     47  Bangalore
1  johnny rotten     18         sid     49  New Delhi

In [43]:
#Module,Language,Exception,CausedBy1,CausedBy2,Message,CausedBy1Msg,CausedBy2Msg,Severity
#11,100,10000,0,0,no message,NoCausedBy oneMsg,NoCausedBy twoMsg,1

exception_df = pd.DataFrame({'Module':[11],'Language':[100],'Exception':[10000],'CausedBy1' : [0],'CausedBy2' : [0],'Message' : ['no message'], 'CausedBy1Msg' : ['NoCausedBy oneMsg'], 'CausedBy2Msg' : ['NoCausedBy twoMsg']})
exception_df

,Module,Language,Exception,CausedBy1,CausedBy2,Message,CausedBy1Msg,CausedBy2Msg
0,11,100,10000,0,0,no message,NoCausedBy oneMsg,NoCausedBy twoMsg

In [47]:
df_master_test=exception_df[["Module", "Language","Exception","CausedBy1","CausedBy2"]]
print(df_master_test)

   Module  Language  Exception  CausedBy1  CausedBy2
0      11       100      10000          0          0

In [48]:
df_message_test=exception_df[["Message"]]
print(df_message_test)

      Message
0  no message

In [49]:
df_causedBy1Msg_test=exception_df[["CausedBy1Msg"]]
df_causedBy2Msg_test=exception_df[["CausedBy2Msg"]]
print(df_causedBy1Msg_test)
print(df_causedBy2Msg_test)

        CausedBy1Msg
0  NoCausedBy oneMsg
        CausedBy2Msg
0  NoCausedBy twoMsg